body {
  margin: 0;
  text-align: center;
  font-family: cursive;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: Sacramento;
  color: #006666;
}

h2 {
  font-size: 2.5rem;
  color: #006666;
}

h3 {
  color: #11999E;
  font-size: 28px;
}

.get-in-touch {
  font-size: 32px;
}

h4 {
  font-size: 27px;
}

a {
  margin: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.smita {
  margin-top: 30px;
}

.top-container {
  background-color :#57cfe4;
  position: relative;
  padding-top: 100px;
}

.intro {
  width: 70%;
  margin: auto;
  font-size: 25px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.cooking {
  float: left;
  margin-right: 30px;
}

.stu {
  text-decoration: underline;
}

.stud {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 200px;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 37;
  -moz-border-radius: 37;
  border-radius: 37px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 50px;
}

.contact-message {
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
  font-size: 25px;
}

.copyright {
  color: #006666;
}

.footer {
  font-size: 25px;
}
